:root {
	--list-width: max(360px, 40vw);
	--accent-color: rgb(194, 70, 48);
	--flat-bg-color: rgb(255, 242, 182);
	--off-black: #454545;
}

body, input, button {
	font-family: 'Ubuntu', sans-serif;
	font-size: 1.5rem;
}

body {
	margin: 0px;
}
html {
	background-image: radial-gradient(rgb(226, 213, 213), rgba(255, 208, 0, 0.616));
	background-attachment: fixed;
}